<div class="container">
    <div class="jumbotron">
        <h1>InYuGo</h1>
        <marquee>This is a Recruiting Application built on <b>'MEAN'</b> Stack</marquee>
        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group mr-2" role="group">
                <button class="btn btn-danger" (click)="logOut()" *ngIf="isLoggedIn">LogOut</button>
                <button class="btn btn-link" (click)="contactUs()">Contact Us</button>
            </div>
        </div>
    </div>
</div>

<router-outlet></router-outlet>